
:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

body{
    background: url("images/bg-desktop.svg"), var(--violet);
    background-position-x: -20%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100vh;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header .container img{
    padding: 50px 0;
    margin-bottom: 30px;
    max-width: 220px;
    height: auto;
}

main .container{
    display: flex;
    flex-flow: row;
    column-gap: 50px;
    position: relative;
}

main .container img{
    min-width: 720px;
}


main .container .text{
    transform: translateY(10%);
}

main .container .text h1{
    font-size: 2.45rem;
}

main .container .text p{
    margin: 20px 0 38px 0;
    font-size: 1.16rem;
    line-height: 1.7rem;
}

main .container .text a{
    background-color: #fff;
    color: var(--violet);
    padding: 15px 68px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 12px;
    transition: all .3s ease;
}

main .container .text a:hover{
    background-color: var(--soft-magenta);
    color: #fff;
}

footer .icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

footer .icons img{
    max-width: 30px;
    width: 100%;
    margin-left: 12px;
    border-radius: 50%;
    z-index: 1;
    transition: all .3s ease;
}

.icons img:hover{
    cursor: pointer;
    background-color: var(--soft-magenta);
}

footer .attribution {
    font-size: 11px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer .attribution a {
    color: var(--soft-magenta);
}

footer .attribution a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 500px){
    body{
        background: url("images/bg-mobile.svg"),var(--violet);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 1100px) {
    body{
        padding: 0 40px;
    }
    main .container{
        flex-direction: column;
        text-align: center;
    }
    main .container .text h1{
        font-size: 1.6rem;
    }
    main .container img{
        min-width: unset;
    }
    main .container .text a{
        padding: 12px 65px;
    }
    footer .icons{
        justify-content: center;
        margin-top: 140px;
    }

}
